body{
    background-image: url(images/background.jpg);
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: white;
}
.header-logo{
    padding: 20px;
}
.header-logo img{
    height:50px;
    width:60px;
}

.header .navbar ul{
    list-style-type: none;
    
}
.header .navbar ul li{
    display: inline-block;
    vertical-align: top;
}
.navbar li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    
}
.navbar li a{
    text-decoration: none;
    color: bisque;

}
.navbar li a:visited{
    color:bisque;
}
/* ............................................................................... */
.main{
    margin-top: 50px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.main h1{
    font-family: "Protest Riot", sans-serif;
    font-weight: 1200;
    font-style: italic;
}
.main2{
    width: 1024;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
   
}
#pages #row{
    height: 250px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    

}
#row #right{
    
    flex-basis: 50%;
}
#row #left{
   
    flex-basis: 50%;
}
#row #img-left{
    flex-basis: 50%;
    
}
#row #img-right{
    flex-basis: 50%;
    margin-left: 300px;
   justify-content: flex-end;
   align-items: flex-end;
}
#row{
    text-align: center;
}
#row img{
    height: 200px;
}
.video{
    margin: auto;
    width: 50%;
}
/*  */
.content{
    background: radial-gradient(white,bisque);
}
