body{
    background-image: url(images/paysage.jpg);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.index{
    width: 1024;
}
/* nouvelle page acceuil */
#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.container{
    border: 1px solid;
    width: 170px;
    height: 350px;
    text-align: center;
    background-color: bisque;
    float: left;
    transition: 0.3s;
}

.container:hover{
    transform: scale(1.2);
    box-shadow: 10px 10px 3px 0px rgba(60, 60, 60, 0.75);
}

 .container img{
    width: 170px;
    height: 200px;
}

a{
    text-decoration: none;
    color: black;
}






/*  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: rgba(255, 253, 253, 0.573);
    border: 2px;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.header .navbar{
    margin-left: auto;
    margin-right: auto;
}

.header .navbar ul{
    list-style-type: none;
    
}
.header .navbar ul li{
    display: inline-block;
    vertical-align: top;
}
.navbar li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px  bisque;
    background-color: rgba(255, 253, 253, 0.573);
    
    transition: transform 0.3s ease-in-out;
    
    
}
.navbar li:hover{
    transform: scale(1.2);
    border: 1px  bisque;
    background-color: white;
    cursor: pointer;
}
.navbar li a{
    text-decoration: none;
    color: rgba(244, 204, 155, 0.493);

}
.navbar li a:hover{
    text-decoration: none;
    color:white;
    background-color: bisque ;

}

.navbar li a:visited::before{
    color:bisque;
}
.navbar li a:visited::before{
    color:bisque ;
}

/* ............................................................................... */
.main{
    margin-top: 50px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.main h1{
    font-family: "Protest Riot", sans-serif;
    font-weight: 1200;
    font-style: italic;
}
/* main des pages */
.main2{
    width: 1024;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
   
}
.main2 h1{
    text-align: center;
}
#pages #row{
    height: 250px;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    

}
#row #right{
    
    flex-basis: 50%;
}
#row #left{
   
    flex-basis: 50%;
}
#row #img-left{
    flex-basis: 50%;
    
}
#row #img-right{
    flex-basis: 50%;
    margin-left: 300px;
   justify-content: flex-end;
   align-items: flex-end;
}
#row{
    text-align: center;
}
#row img{
    height: 200px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    
}
#row img:hover{
    transform: scale(1.2);
}
.video{
    margin-top: 20px;
    margin: auto;
    width: 50%;
}
/*  */

.page{
    background: radial-gradient(white,bisque);
}
.page h1{
    font-family: "Protest Riot", sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
}
/* animation */
#row p{
    
        font-family: DejaVu Sans Mono, monospace;
        animation: 1s  alternate slidein;
      
      
    } 
    #row img{
        animation: 500ms alternate slidein2;
    }
      @keyframes slidein {
        from {
          margin-right: 100%;
          width: 300%;
        }
        
        to {
          margin-right: 0%;
          width: 100%;
        }
      }
      @keyframes slidein2 {
        from{
            margin-left: 100%;
            width: 50%;
        }
        to {
            margin-left: 0%;
          width: 100%;
        }
        
      }
      .main h1{
        animation: 2s  3 alternate slidein;
      }
      /* scroll bar */
      ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #ccc;
    }